<p>
  Cyphal is a publish/subscribe protocol for real-time communication in decentralized cyber-physical systems.
  Cyphal is:
</p>
<ul>
  <li>
    <strong>Simple.</strong> Implemented in a few thousand lines of straightforward code.
  </li>
  <li>
    <strong>Easy.</strong> Familiar pub/sub with optional reliability, discovery, and RPC; runs anywhere.
  </li>
  <li>
    <strong>Brokerless.</strong> Decentralized peer-to-peer network with automatic configuration.
  </li>
  <li>
    <strong>Real-time.</strong> Predictable sub-millisecond latency over UDP/IP, CAN FD, with more transports to come.
  </li>
</ul>
<p>
  The <a href="/specification" target="_blank">Cyphal Specification</a> is open to everyone,
  and it will always remain this way.
  No licensing or approval of any kind is necessary for its implementation, distribution, or use.
  Reference implementations are available under the MIT license.
</p>

<h1>Usage</h1>
<p>
  Pick a suitable implementation and follow its documentation to get started:
</p>
<ul>
  <li>
    <strong><a href="https://github.com/OpenCyphal-Garage/cy" target="_blank">Cy</a></strong> &mdash;
    the reference implementation in C.
    Compatible with resource-constrained baremetal MCU applications as well as conventional platforms.
  </li>
  <li>
    <strong><a href="https://github.com/OpenCyphal/pycyphal" target="_blank">PyCyphal</a></strong> &mdash;
    the Python implementation with a simple high-level API.
  </li>
</ul>
<p>
  Assistance is provided on the <a href="https://forum.opencyphal.org" target="_blank">forum</a>
  and <a href="https://forum.opencyphal.org/chat" target="_blank">chat</a>.
</p>
<p>
  Applications dependent on the older Cyphal v1.0 should use
  <a href="https://github.com/OpenCyphal/libcanard" target="_blank">libcanard v4</a> (not recommended for new designs).
</p>
<p>
  Please <a href="https://forum.opencyphal.org/t/766" target="_blank">reference Cyphal</a>
  in scientific or technical publications.
</p>

{%- if adopters %}
<h1 id="featured-adopters">Adopters</h1>
<div class="adopters-container">
{% for a in adopters %}
  <a class="adopters-entry" href="{{ a.website_url }}" target="_blank">
    <img src="/adopters/logo/{{ a.logo_file_name }}" alt="{{ a.name }}" title="{{ a.name }}">
  </a>
{% endfor %}
</div>
{%- endif %}
