<!-- Contribute to website block -->
<div class="sandwich">
  <a href="https://github.com/UAVCAN/uavcan.org">Contribute to this website on GitHub</a>
</div>

<!-- Navigation sidebar menu -->
<nav id="nav-sidebar" class="nav flex-column">
  <a class="nav-link nav-heading">UAVCAN &#8230;</a>
  <a class="nav-link" href="#what">What is it?</a>
  <a class="nav-link" href="#how">How do I use it?</a>
  <a class="nav-link" href="#why">Why do I need it?</a>
  <a class="nav-link" href="#who">Who is behind it?</a>
</nav>

<hr/>

