<!-- Navigation sidebar menu -->
<nav id="nav-sidebar" class="nav flex-column">
  <a class="nav-link nav-heading">UAVCAN &#8230;</a>
  <a class="nav-link" href="#what">What is it?</a>
  <a class="nav-link" href="#how">How do I use it?</a>
  <a class="nav-link" href="#why">Why do I need it?</a>
  <a class="nav-link" href="#who">Who is behind it?</a>
</nav>

<hr/>

<!-- Contribute to website note -->
<div class="text-center sidebar-footnote">
  <a href="https://github.com/UAVCAN/uavcan.org">
    <div class="mb-1">Contribute to this website on GitHub</div>
    <i class="fab fa-github font-size-120"></i> 
  </a>
</div>
