<!-- Navigation sidebar menu -->
<div class="navbar-spacer"></div>
<div class="d-flex mx-3">
  <span>Home</span>
  <span style="width: 3rem; text-align: right"><i class="fas fa-home"></i></span>
</div>
<ul class="sub-menu" style="list-style-type: none; padding-inline-start: 5%">
  <li class="nav-item">
    <a class="nav-link" href="/home#what"><small>What is UAVCAN?</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home#how"><small>How do I use UAVCAN?</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home#why"><small>Why do I need UAVCAN?</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home#who"><small>Who is behind UAVCAN?</small></a>
  </li>
</ul>
