<!-- Navigation sidebar menu -->
<nav id="nav-sidebar" class="nav flex-column">
  <a class="nav-link nav-heading">Guide</a>
  <a class="nav-link" href="#preface">Preface</a>
  <a class="nav-link" href="#overview">Overview</a>
  <a class="nav-link nav-l2" href="#basics">Basics</a>
  <a class="nav-link nav-l2" href="#application">Application</a>
  <a class="nav-link nav-l2" href="#presentation">Presentation</a>
  <a class="nav-link nav-l2" href="#transport">Transport</a>
  <a class="nav-link nav-l2" href="#migration">Migration from UAVCAN v0</a>
  <a class="nav-link nav-l2" href="#furtherinfo">Further information</a>
  <a class="nav-link" href="#iface-design">Interface design guidelines</a>
  <a class="nav-link nav-l2" href="#orientation">Service-orientation</a>
  <a class="nav-link nav-l2" href="#statelessness">Statelessness</a>
  <a class="nav-link nav-l2" href="#safe-typing">Safe typing</a>
  <a class="nav-link nav-l2" href="#segregation">Semantic segregation</a>
  <a class="nav-link nav-l2" href="#si">SI</a>
</nav>

<hr/>
