/*
 * Color palette for UAVCAN web site
 */

:root {
    /** UAVCAN color palette **/
    --uavcan-blue:  #0003ee;
    --uavcan-navy:  #1700b3;        /* UAVCAN logo color */
    --uavcan-teal:  #00dac6;
    --uavcan-cyan:  #007e87;
    --uavcan-red:   #b00036;
    --uavcan-black: #000000;

    /** Other colors **/
    --uavcan-pale-blue:  #f0f6fe;
    --uavcan-gray:       #888888;
    --uavcan-cyan-10pc:  rgb(0 126 135 / 0.1);
    --uavcan-cyan-75pc:  rgb(0 126 135 / 0.75);
    --uavcan-black-75pc: rgb(0 0 0 / 0.75);

    /* Element colors */
    --uavcan-header-bg-color:         var(--uavcan-pale-blue);   /* Header background color */
    --uavcan-body-text-color:         var(--uavcan-black);       /* Default text color */
    --uavcan-sidebar-text-color:      var(--uavcan-black);       /* Sidebar navigation text color */
    --uavcan-sidebar-active-color:    var(--uavcan-black);       /* Sidebar active link text color */
    --uavcan-sidebar-hover-color:     var(--uavcan-black-75pc);  /* Sidebar hover link text color */
    --uavcan-sidebar-heading-color:   var(--uavcan-red);         /* Sidebar navigation heading color */
    --uavcan-link-text-color:         var(--uavcan-navy);        /* Hyperlink color */
    --uavcan-ref-thead-text-color:    var(--light, inherit);
    --uavcan-ref-thead-bg-color:      var(--uavcan-navy);
    --uavcan-card-h2-text-color:      var(--light, inherit);     /* Card heading text color */
    --uavcan-card-h2-bg-color:        var(--uavcan-navy);        /* Card heading background color */
    --uavcan-footer-text-color:       var(--uavcan-gray);        /* Footer text color */
    --uavcan-sandwich-text-color:     var(--uavcan-cyan);
    --uavcan-sandwich-hover-color:    var(--uavcan-cyan-75pc);
    --uavcan-sandwich-bg-color:       var(--uavcan-cyan-10pc);
}
