/*
 * Color palette for UAVCAN web site
 */

:root {
    /** UAVCAN color palette **/
    --uavcan-blue:  #0003ee;
    --uavcan-navy:  #1700b3;        /* UAVCAN logo color */
    --uavcan-teal:  #00dac6;
    --uavcan-cyan:  #007e87;
    --uavcan-red:   #b00036;
    --uavcan-black: #000000;

    /** Other colors **/
    --uavcan-white:      #ffffff;
    --uavcan-gray:       #888888;
    --uavcan-cyan-10pc:  rgb(0 126 135 / 0.1);
    --uavcan-black-75pc: rgb(0 0 0 / 0.75);
    --uavcan-black-60pc: rgb(0 0 0 / 0.6);


    /** Element colors -- applied from palette **/

    /* Basic element colors */
    --uavcan-header-bg-color:         var(--uavcan-white);       /* Header background color */
    --uavcan-body-text-color:         var(--uavcan-black);       /* Default text color */
    --uavcan-link-text-color:         var(--uavcan-navy);        /* Hyperlink color */
    --uavcan-footer-text-color:       var(--uavcan-gray);        /* Footer text color */

    /* Navbar colors */
    --uavcan-navbar-heading-color:    var(--uavcan-red);         /* Sidebar navigation heading color */
    --uavcan-navbar-major-text-color: var(--uavcan-black);       /* Sidebar navigation text color */
    --uavcan-navbar-minor-text-color: var(--uavcan-black-60pc);  /* Sidebar navigation level two */
    --uavcan-navbar-hover-text-color: var(--uavcan-black-75pc);  /* Sidebar hover link text color */
    --uavcan-navbar-toggler-color:    var(--uavcan-black);       /* Navbar toggler button color */

    /* Code block colors */
    --uavcan-code-text-color:         var(--uavcan-black);       /* Code text */
    --uavcan-code-comment-color:      var(--uavcan-gray);        /* Code comments */
    --uavcan-code-value-color:        var(--uavcan-cyan);        /* Code values */
    --uavcan-code-em-color:           var(--uavcan-red);         /* Code emphasis */
    --uavcan-code-bg-color:           var(--uavcan-cyan-10pc);   /* Code background */

    /* Highlight box colors */
    --uavcan-highlight-box-border:    var(--uavcan-gray);        /* Highlight box border */
}
