/*
 * Main.
 * UAVCAN logo color: #1700b3
 * Other colors:
 *      #0003ee
 *      #00dac6
 *      #007e87
 *      #b00036
 */
html {
    width: 90%;
    margin: auto;
    color: black;
    background: white;
    font-family: sans-serif;
}
@media all and (min-width: 1200px) {
    html {
        width: 80%;
    }
}
@media all and (min-width: 1900px) {
    html {
        width: 70%;
    }
}

/*
 * Header.
 */
header {
    text-align: center;
}
header > img {
    width: 80%;
    max-width: 450px;
    margin: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}
header h1 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: normal;
}
.nav {
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    padding: 0.3em 0.6em;
    font-size: 1.1em;
}
@media only screen and (max-width: 500px) {
    .nav li {
        display: block;     /* Stack them. */
    }
}
@media all and (min-width: 1000px) {
    .nav li {
        padding: 0.5em 1em 0.25em 1em;
    }
}

/*
 * Body & Elements.
 */
body {
    font-size: 100%;

    /* Proper overflow handling */
    overflow-wrap: break-word;
    word-wrap: break-word;                  /* synonym for overflow-wrap */
    /*word-break: break-all;*/              /* this is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-word;                 /* instead use this non-standard one */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
h1 { font-size: 1.6em; font-weight: bolder; margin-top: 1.5em; }
h2 { font-size: 1.0em; font-weight: bolder; }
h3 { font-size: 1.0em; font-style: italic; }
a {
    text-decoration: underline;
    color: inherit;
    font-weight: bolder;
}
a.no-decoration {
    text-decoration: none;
}
ul {
    padding: 0 0 0 1.5em;
}
li {
    padding-bottom: 0.25em;
}
table.feed {
    border-spacing: 0;  /* this is necessary to remove phantom padding */
}
table.feed td {
    font-size: 1rem;
    vertical-align: middle;
    padding: 0.25em 0;
    line-height: 1.25em;
}
table.feed tr:last-child td {
    padding-bottom: 0em;
}
.feed img.thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 0.5em;
}
.feed .meta {
    color: #888;
}
.feed .meta > span {
    margin-right: 1em;
    word-break: keep-all;
    white-space: nowrap;
}
.feed a {
    font-weight: inherit;
}

/*
 * Footer.
 */
footer {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: lighter;
    color: #888;
    padding-top: 4em;
    padding-bottom: 1em;
}
footer a {
    font-weight: inherit;
}
footer p {
    margin: 0;
}
footer a img {
    padding: 0.5em;
}
footer span {
    word-break: keep-all;
    white-space: nowrap;
}
