/*
 * Main.
 */

/*
 * Header.
 */
header {
    text-align: center;
    background-color: var(--uavcan-header-bg-color);
}
header > img {
    width: 80%;
    max-width: 450px;
    margin: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}
header h1 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.6em;
    font-weight: normal;
}

/*
 * Body & Elements.
 */
h1   { font-size: 1.6em; font-weight: bolder; margin-top: 1.5em; }
h2   { font-size: 1.0em; font-weight: bolder; }
h3   { font-size: 1.0em; font-style: italic; }
body { color: var(--uavcan-body-text-color, inherit); }
a    { color: var(--uavcan-link-text-color, inherit); }

/** Implementations table **/
table.reference {
    border-collapse: collapse;
    white-space: nowrap;
}

/** Feed cards **/
.feed-header {
    background-color: var(--uavcan-feed-card-h2-bg-color, inherit);
}
.feed-header h2 {
    font-size: 1.0em;
    font-weight: bolder;
    color: var(--uavcan-feed-card-h2-text-color, inherit);
}
div.thumbnail {
    width: 4.5rem;
    overflow: hidden;
}
div.thumbnail a img {
    height: 3.5rem;
}
div.card small {
    overflow-wrap: break-word;
    word-break: break-word;
}

/** Navbar heading **/
@media screen and (max-width: 992px) {
    .navbar-header {
        background-color: var(--uavcan-header-bg-color, inherit);
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom-style: solid;
        border-color: var(--uavcan-hr-color, inherit);
        border-width: 1px;
    }
}

/*
 * Footer.
 */
footer {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: lighter;
    color: var(--uavcan-footer-text-color, inherit);
    padding-top: 4em;
    padding-bottom: 1em;
}
footer a {
    font-weight: inherit;
}
footer p {
    margin: 0;
}
footer a img {
    padding: 0.5em;
}
footer span {
    word-break: keep-all;
    white-space: nowrap;
}
