<footer title="Rendered in {{ g.get_time_since_request_ms() }} ms">
  <p>
    Cyphal was known as UAVCAN
    <a href="https://forum.opencyphal.org/t/uavcan-v1-is-now-cyphal/1622" target="_blank">until 2022</a>.
  </p>
  <br/>
  <p>Copyright &copy; 2022&ndash;{{ config.CURRENT_YEAR }} OpenCyphal development team.</p>
  <p>Copyright &copy; 2015&ndash;2022 UAVCAN development team.</p>
  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a>
  </p>
  <p>
    <i class="fab fa-github" aria-hidden="true"></i>
    <a href="https://github.com/OpenCyphal/website">Contribute to this website on GitHub.</a>
  </p>
  <br/>
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="license-mark">
    <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png">
  </a>
</footer>
