<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="icon" sizes="192x192" href="/favicon-192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/favicon-152.png" />

    <meta charset="utf-8">
    <meta name="theme-color" content="#1700b3">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="UAVCAN Development Team">

    <meta property="og:type"      content="website" />
    <meta property="og:site_name" content="Uncomplicated Application-level Vehicular Communication And Networking" />
    <meta property="og:title"     content="Uncomplicated Application-level Vehicular Communication And Networking" />
    <meta
        property="og:description"
        content="UAVCAN is an open lightweight protocol designed for reliable intravehicular communication in aerospace and robotic applications over CAN bus, Ethernet, and other robust transports."
    />
    <meta
        property="og:image"
        content="https://forum.uavcan.org/uploads/default/original/1X/d8c7fcb9a58acdb1f0a529f763bca03c0e0b705d.png"
    />

    <title>{{ title }}</title>
</head>
