<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/color-scheme.css">
<link rel="stylesheet" href="/static/css/cyphal.css">

<link rel="icon" sizes="192x192" href="/favicon-192.png">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" type="image/png" href="/favicon-152.png">

<meta charset="utf-8">
<meta name="theme-color" content="#1700b3">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="OpenCyphal Development Team">

<meta property="og:type"      content="website">
<meta property="og:site_name" content="Open technology for real-time intravehicular distributed computing and communication based on modern networking standards">
<meta property="og:title"     content="Open technology for real-time intravehicular distributed computing and communication based on modern networking standards">
<meta
    property="og:description"
    content="Cyphal is an open technology for real-time intravehicular distributed computing and communication
    based on modern networking standards (Ethernet, CAN FD, etc.).
    It is created to address the challenge of on-board deterministic computing and data distribution in
    next-generation intelligent vehicles: manned and unmanned aircraft, spacecraft, robots, and cars."
>
<meta
    property="og:image"
    content="https://forum.uavcan.org/uploads/default/original/1X/d8c7fcb9a58acdb1f0a529f763bca03c0e0b705d.png"
>

<title>{% block title %}{{ title }}{% endblock %}</title>
