<header>
    <img src="/static/images/logo.svg" alt="UAVCAN Logo">
    <h1>Intravehicular communication</h1>
    <ul class="nav">
        <li>
            <i class="fas fa-graduation-cap"></i>
            <a href="/guide"
               title="Learn how to use UAVCAN."
               target="_blank">Guide</a>
        </li>
        <li>
            <i class="far fa-file-pdf"></i>
            <a href="/specification"
               title="Latest revision of the specification document in PDF."
               target="_blank">Specification</a>
        </li>
        <li>
            <i class="far fa-comments"></i>
            <a href="https://forum.uavcan.org"
               title="Discussion forum; ask questions and submit proposals there."
               target="_blank">Forum</a>
        </li>
        <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/UAVCAN"
               title="GitHub organization where development happens."
               target="_blank">GitHub</a>
        </li>
        <li>
            <i class="fas fa-history"></i>
            <a href="http://legacy.uavcan.org/"
               title="Experimental pre-release version of the specification called UAVCAN v0, now obsolete."
               target="_blank">Legacy v0</a>
        </li>
    </ul>
</header>
