<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="icon" sizes="192x192" href="/favicon-192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/favicon-152.png" />

    <meta charset="utf-8">
    <meta name="theme-color" content="#1700b3">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="UAVCAN Development Team">

    <title>{{ title }}</title>
</head>
