<!-- -------------------------------------------------------------------------------------------------------------- -->
<h1 id="mission">Mission</h1>
<p>
  Being an open project, UAVCAN is critically dependent on direct contributions from its adopters.
  This Consortium is a non-profit organization created to ensure the future of UAVCAN and to provide a
  neutral collaboration platform for the stakeholders.
  The core objectives of the Consortium are:
</p>
<img src="/static/images/uavcan-conformity-mark.svg" width="160" height="160" class="img-fluid float-right p-3"
     alt="UAVCAN Conformity Mark"
     title="UAVCAN Conformity Mark">
<ul>
  <li>
    To provide a governing body tasked with defining the long-term project strategy based on input from its members.
  </li>
  <li>
    To support, promote, and standardize the UAVCAN technology and expand the UAVCAN ecosystem.
  </li>
  <li>
    To provide legal protection for the project in relevant markets and regions across the world.
    This includes trademark management and enforcement of the licensing terms.
  </li>
  <li>
    To serve as a testing and certification organization, validating the conformance of hardware and software
    products to the published UAVCAN standards.
    Vendors whose products have been shown to be conformant are granted the license to use the official
    <b>UAVCAN Conformity Mark</b> (shown on the image).
  </li>
  <li>
    To provide consulting services to members, key open-source projects, and non-profit organizations
    leveraging UAVCAN to ensure the long-term health and sustainability of the ecosystem.
  </li>
</ul>

<!-- -------------------------------------------------------------------------------------------------------------- -->
<h1 id="membership">Membership</h1>
<p>
  Expertise, workforce, and finances contributed by members of the Consortium make it possible to sustain
  the development and maintenance of the technical specifications, reference implementations, key software tools,
  and other critical components that the entire UAVCAN ecosystem rests upon.
</p>
<p>
  Members are entitled to direct benefits depending on the membership tier:
  <b>Sponsored</b>, <b>Regular</b>, or <b>Expert</b>.
</p>
<p>
  <i class="fas fa-user-graduate"></i>
  <b>Sponsored</b> members are entitled to:
</p>
<ul>
  <li>
    Participate in the technical steering and internal strategic goal setting.
  </li>
  <li>
    Access the member-only library of <a href="https://github.com/UAVCAN/demos">example applications, demos</a>,
    and <a href="https://forum.uavcan.org/t/3rd-party-documentation-library/865">documentation</a>.
    The library helps members speed up the development and testing of UAVCAN-enabled systems.
  </li>
  <li>
    Take part in surveying the adopter base and get access to the raw results.
  </li>
</ul>
<p>
  <i class="fas fa-user"></i>
  <b>Regular</b> tier members are entitled to the following benefits in addition to the above:
</p>
<ul>
  <li>
    Submit hardware and software products for conformance testing against the UAVCAN specifications.
    Conformance testing is performed by the UAVCAN Consortium experts for an additional fee established on
    a case-by-case basis depending on the complexity of the product and the scope of the tested functionality.
    This activity also includes consulting services intended to help the vendor reach full conformance with the
    applicable specifications.
  </li>
  <li>
    Use the <b>UAVCAN Conformity Mark</b> with conformant products.
  </li>
</ul>
<p>
  <i class="fas fa-user-tie"></i>
  <b>Expert</b> tier members are entitled to the following benefits in addition to all of the above:
</p>
<ul>
  <li>
    List conformant products in the <b>Conformant Product Directory</b>.
  </li>
  <li>
    Add domain-specific and vendor-specific data types to the public regulated data type repository
    (subject to approval by the maintainers).
  </li>
  <li>
    Access translations of the core technical documentation and specifications in Chinese, Russian, and other languages.
  </li>
</ul>
<p>
  The membership fees are specified in the following table.
  To qualify for Sponsored membership, the applicant shall represent one of the following:
</p>
<ul>
  <li>
    an accredited academic institution;
  </li>
  <li>
    a registered non-profit organization;
  </li>
  <li>
    an open source project hosted or mirrored on GitHub, Bitbucket, or GitLab that is starred, watched,
    or forked by at least 100 users.
  </li>
</ul>
<p>
  To become a member, please
  <a href="/consortium/uavcan_consortium_membership_application.pdf">fill out the application form</a>
  and send it to <a href="mailto:consortium@uavcan.org">consortium@uavcan.org</a>.
</p>
<div class="table-responsive">
  <table class="table table-borderless table-sm w-unset table-nowrap">
      <thead class="thead-light">
        <tr>
          <th scope="col" rowspan="2">Employee count</th>
          <th colspan="3" class="text-center">Annual membership fee, euro</th>
        </tr>
        <tr>
          <th scope="col">Sponsored</th>
          <th scope="col">Regular</th>
          <th scope="col">Expert</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0&#8230;9</td>
          <td>0</td>
          <td>1400</td>
          <td>2520</td>
        </tr>
        <tr>
          <td>10&#8230;99</td>
          <td>0</td>
          <td>2800</td>
          <td>5040</td>
        </tr>
        <tr>
          <td>100&#8230;999</td>
          <td>0</td>
          <td>4200</td>
          <td>7560</td>
        </tr>
        <tr>
          <td>1000&#8230;9999</td>
          <td>0</td>
          <td>5600</td>
          <td>10080</td>
        </tr>
        <tr>
          <td>10000&#8230;&#8734;</td>
          <td>0</td>
          <td>7000</td>
          <td>12600</td>
        </tr>
      </tbody>
  </table>
</div>

<!-- -------------------------------------------------------------------------------------------------------------- -->
<h1 id="member-profiles">Member profiles</h1>
<p>
  <i class="fas fa-plane"></i>
  End system manufacturer:
</p>
<ul>
  <li>
    Manage the complexity of vehicular intelligence by adopting the solution specifically
    designed for the task.
  </li>
  <li>
    Rely on robust technology and steer its development to address future challenges.
  </li>
  <li>
    Collaborate with COTS equipment providers.
  </li>
  <li>
    Avoid the risk of vendor lock-in by using an open and permissively licensed standard.
  </li>
</ul>
<p>
  <i class="fas fa-microchip"></i>
  COTS equipment or software vendor:
</p>
<ul>
  <li>
    Use the <b>UAVCAN Conformity Mark</b> to gain trust of customers and increase the market share.
  </li>
  <li>
    Get listed in the official <b>Conformant Product Directory</b>.
  </li>
  <li>
    Ensure compliance with the key reference implementations.
  </li>
  <li>
    Produce relevant reference designs and development kits.
  </li>
  <li>
    Participate in joint marketing activities.
  </li>
  <li>
    Stay in the loop and predict future trends.
  </li>
</ul>
<p>
  <i class="fas fa-flask"></i>
  Open source, R&D, consulting:
</p>
<p>
  Any enterprise whose core activities involve UAVCAN is welcome to join the Consortium to
  help sustain the development of the project and take part in its management and technical
  steering.
</p>
