<!-- Navigation sidebar menu -->
<div class="navbar-spacer"></div>
<div class="d-flex mx-3">
  <span>Consortium</span>
  <span style="width: 3rem; text-align: right"><i class="fas fa-home"></i></span>
</div>
<ul class="sub-menu" style="list-style-type: none; padding-inline-start: 5%">
  <li class="nav-item">
    <a class="nav-link" href="/consortium#mission"><small>Mission</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/consortium#membership"><small>Membership</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/consortium#member-profiles"><small>Member profiles</small></a>
  </li>
</ul>
