<!-- Navigation sidebar menu -->
<nav id="sidebar-navbar" class="nav flex-column">
  <a class="navbar-brand text-center mb-2 ml-2" href="/">
    <img src="static/images/logo.svg" width="170" height="40" alt="UAVCAN Logo" loading="lazy">
  </a>
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link nav-l1-active" href="/consortium">Consortium</a>
  <a class="nav-link nav-l2" href="#mission">Mission</a>
  <a class="nav-link nav-l2" href="#membership">Membership</a>
  <a class="nav-link nav-l2" href="#member-profiles">Member profiles</a>
</nav>

<hr>

<!-- External links -->
<nav class="nav flex-column">
  <a class="nav-link" href="/consortium/consortium_articles_of_association.pdf"
     target="_blank"><i class="fas fa-gavel"></i>&ensp;Bylaws</a>

  <a class="nav-link nav-l2" href="/consortium/consortium_articles_of_association_annex_1.pdf"
     target="_blank"><i class="fa fw"></i>&ensp;Annex 1 &ndash; fees</a>

  <a class="nav-link" href="/consortium/consortium_membership_application.pdf"
     target="_blank"><i class="far fa-handshake"></i>&ensp;Application form</a>

  <a class="nav-link" href="/consortium/conformity_mark_regulation.pdf"
     target="_blank"><i class="fas fa-certificate"></i>&ensp;Conformity mark</a>

  <a class="nav-link" href="/forum" target="_blank"><i class="fa fa-users"></i>&ensp;Forum</a>
</nav>
