<!-- Navigation sidebar menu -->
<nav id="nav-sidebar" class="nav flex-column">
  <a class="nav-link nav-heading">Consortium</a>
  <a class="nav-link" href="#mission">Mission</a>
  <a class="nav-link" href="#membership">Membership</a>
  <a class="nav-link" href="#member-profiles">Member profiles</a>
</nav>

<hr/>

<!--
<ul class="sub-menu" style="list-style-type: none; padding-inline-start: 5%">
  <li class="nav-item">
    <a class="nav-link" href="/consortium#"><small>Mission</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/consortium#membership"><small>Membership</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/consortium#member-profiles"><small>Member profiles</small></a>
  </li>
</ul>
-->
