<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head block -->
    {% include "base/head.html" %}
</head>

<body>

    <!-- Navigation bar header -->
    <header>
      {% include "base/navbar.html" %}
    </header>

    <!-- Main content block -->
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

    <!-- Footer block -->
    {% block footer %}{% include "base/footer.html" %}{% endblock %}

    <!-- JQuery and Bootstrap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- Google Analytics scripts -->
    {% include "base/analytics.html" %}

</body>
</html>
