{% extends "base.html" %}
{% set active = 'conformant' %}

{% block content %}

  <h1>OpenCL</h1>

  <div class="card">
    <div class="card-header text-center text-white bg-primary">
      <strong>NVIDIA&emsp;2020-09-29&emsp;OpenCL_1_2</strong>
    </div>
    <div class="card-body d-flex flex-row p-0">
      <div class="w-50 border-right p-3">
        Linux Kernel Version 3.10+ with NVIDIA OpenCL Driver with OpenCL
        running on NVIDIA Ampere family of GPU devices, including:
        A100
      </div>
      <div class="w-50 p-3">
        x86/x86_64 with SSE 2
      </div>
    </div>
 
  </div>

{% endblock %}
