{% extends "base.html" %}
{% block content %}

  <h1>Mission</h1>
  <p>
    UAVCAN is found in manned and unmanned aerial vehicles, spacecraft, robotic transport, 
    and other bleeding-edge vehicular applications dependent on robust means of real-time 
    distributed intravehicular computing.</p>
  <p>
    Being an open project, UAVCAN is critically dependent on direct contributions from its
    adopters. This Consortium is a non-profit organization created to ensure the future of
    UAVCAN and to provide a neutral collaboration platform for the key stakeholders. The
    core objectives of the Consortium are as follows:</p>
  <ul>
    <li>
      It is a governing body that defines the long-term strategy of the project based on
      the input from the members.</li>
    <li>
      It provides legal protection for the project in relevant markets and regions across 
      the world. This includes trademark management and enforcement of the licensing terms.</li>
    <img src="/static/images/conformance-mark.png" width="160" height="160" class="img-fluid float-right p-3"></img>
    <li>
      It serves as a testing and certification organization, validating the conformance of
      hardware and software products to the published UAVCAN standards. Vendors whose
      products have been shown to be conformant are granted the license to use the official
      <strong>UAVCAN Conformance Mark</strong> (shown on the image).</li>
    <li>
      It provides consulting services to members, key open source projects, and non-profit
      organizations leveraging UAVCAN to ensure the long-term health and sustainability of
      the ecosystem.</li>
    <li>
      Top-tier members of the Consortium may opt to list their conformant products (both 
      hardware and software) in the public <strong>Conformant Product Directory</strong>, which serves
      as a neutral and unbiased source of information for end system integrators about the 
      COTS products currently available on the market.</li>
    <li>
      Top-tier members of the Consortium may propose the inclusion of their vendor-specific 
      DSDL definitions into the <a href="https://github.com/UAVCAN/public_regulated_data_types">
      public regulated data type repository</a>.</li>
  </ul>
  <p>
    TODO: link the bylaws.</p>


  <h1>Membership</h1>
  <h2>Benefits</h2>
  <p>
    Most importantly, active members help the UAVCAN Consortium sustain the development and
    maintenance of the technical specifications, reference implementations, key software
    tools, and other critical components that the entire UAVCAN ecosystem rests upon.</p>
  <p>
    Aside from that, members are also entitled to more direct benefits depending on the 
    membership tier: <strong>Sponsored</strong>, <strong>Regular</strong>, or <strong>Expert</strong>.</p>
  <p>
    <strong>Sponsored</strong> members are entitled to:</p>
  <ul>
    <li>
      Participate in the technical steering and internal strategic goal setting.</li>
    <li>
      Directly influence the design and development of technical specifications, standards,
      and reference implementations published by the UAVCAN Consortium.</li>
    <li>
      Access the internal documentation library, which includes technical reports and
      specifications published by third parties.</li>
    <li>
      Take part in surveying the adopter base and get access to the raw results.</li>
  </ul>
  <p>
    Members of the <strong>Regular</strong> tier are entitled to the following benefits in addition to the 
    above:</p>
  <ul>
    <li>
      Submit hardware and software products for conformance testing against the UAVCAN
      specifications. Conformance testing is performed by the UAVCAN Consortium experts
      for an additional fee established on a case-by-case basis depending on the complexity
      of the product and the scope of the tested functionality. This activity also includes
      consulting services intended to help the vendor reach full conformance with the
      applicable specifications.</li>
    <li>
      Use the <strong>UAVCAN Conformance Mark</strong> with conformant products.</li>
  </ul>
  <p>
    Members of the <strong>Expert</strong> tier are entitled to the following benefits in addition to all of
    the above:</p>
  <ul>
    <li>
      List conformant products in the Conformant Product Directory.</li>
    <li>
      Add vendor-specific data types to the <a src="https://github.com/UAVCAN/public_regulated_data_types/">
      public regulated data type repository</a>.</li>
    <li>
      Access translations of the core technical documentation and specifications in Chinese,
      Russian, and other languages.</li>
  </ul>

  <h2>Fees</h2>
  <p>
    For academic institutions, non-profit organizations, and major open source projects the 
    membership is free. Other organizations are charged an annual fee depending on the consolidated 
    employee headcount for the preceding fiscal year as specified in the table.</p>

    <div class="table-responsive">
      <table class="table table-borderless table-sm reference">
          <thead class="thead-light">
            <tr>
              <th scope="col">Employee Count</th>
              <th scope="col">Sponsored [&euro;/year]</th>
              <th scope="col">Regular [&euro;/year]</th>
              <th scope="col">Expert [&euro;/year]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1&#8230;9</td>
              <td>0</td>
              <td>700</td>
              <td>1260</td>
            </tr>
            <tr>
              <td>10&#8230;99</td>
              <td>0</td>
              <td>1400</td>
              <td>2520</td>
            </tr>
            <tr>
              <td>100&#8230;999</td>
              <td>0</td>
              <td>2100</td>
              <td>3780</td>
            </tr>
            <tr>
              <td>1000&#8230;9999</td>
              <td>0</td>
              <td>2800</td>
              <td>5040</td>
            </tr>
            <tr>
              <td>10000&#8230;&#8734;</td>
              <td>0</td>
              <td>3500</td>
              <td>6300</td>
            </tr>
          </tbody>
      </table>
    </div>

  <p>
    To qualify for Sponsored membership, the applicant shall represent one of the 
    following:</p>
  <ul>
    <li>an accredited academic institution;</li>
    <li>a registered non-profit organization;</li>
    <li>
      an open source project hosted or mirrored on GitHub, Bitbucket, or GitLab that is 
      starred, watched, or forked by at least 100 users.</li>
  </ul>

  <h2>Terms</h2>
  <p>
    Active members agree to have their logo featured on the official UAVCAN website for the 
    duration of their membership and for up to one month after its termination. If this is
    undesirable, please communicate your preference to the office.</p>
  <p>
    Membership is auto-renewed annually until explicitly terminated by the member.</p>
  <p>
    When the membership is terminated, <s>the member retains the right to use the official
    UAVCAN Conformance Mark with products or revisions thereof that have been found conformant 
    previously.</s> The UAVCAN Consortium may choose to de-list all or some of the products
    submitted by the former member to the <strong>Conformant Product Directory</strong> at its own
    discretion. Likewise, the UAVCAN Consortium may choose to deprecate and eventually remove
    all data types submitted by the former member to the public regulated data types repository,
    unless doing so is expected to harm the ecosystem.</p>

  <h2>Become a member</h2>
  <p>
    Please <a href="https://docs.google.com/document/d/1sEpr65x6h0ngyxVTzPi7xjaEuwf7ZGMKik9FeU9sp0s/edit">
    fill out the application form</a> and send it to <a href="mailto:consortium@uavcan.org">
    consortium@uavcan.org</a>. If you have any questions or feedback, please contact the office 
    using the same address.</p>

  <h1>Member profiles</h1>
  <p>
    TODO: permissions to use the images are not yet secured. Pending confirmation from:</p>
  <ul>
    <li>Futaba IRC</li>
  </ul>

  <h2>End system manufacturer</h2>
  <img src="/static/images/katla.aero.jpg" class="img-fluid"></img>
  <ul>
    <li>
      Manage the complexity of vehicular intelligence by adopting the solution specifically 
      designed for the task.</li>
    <li>
      Rely on robust technology and steer its development to address future challenges.</li>
    <li>
      Collaborate with COTS equipment providers.</li>
    <li>
      Avoid the risk of vendor lock-in by using an open and permissively licensed standard.</li>
  </ul>

  <h2>COTS equipment vendor</h2>
  <img src="/static/images/futaba.jpg" class="img-fluid"></img>
  <ul>
    <li>
      Use the <strong>UAVCAN Conformance Mark</strong> to gain trust of customers and increase the 
      market share.</li>
    <li>
      Get listed in the official <strong>Conformant Product Directory</strong>.</li>
    <li>
      Stay in the loop and predict future trends of the industry.</li>
  </ul>

  <h2>Chip or component vendor</h2>
  <img src="/static/images/nxp.jpg" class="img-fluid"></img>
  <ul>
    <li>
      Take part in the development of future standards and stay ahead of the curve.</li>
    <li>
      Ensure compliance with the key reference implementations.</li>
    <li>
      Produce relevant reference designs and development kits.</li>
    <li>
      Participate in joint marketing activities.</li>
    <li>
      Develop partnerships with other members of the Consortium</li>
  </ul>

  <h2>Open source, R&D, consulting, etc.</h2>
  <img src="/static/images/ide.png" class="img-fluid"></img>
  <p>
    Any enterprise whose core activities involve UAVCAN is welcome to join the Consortium to 
    help sustain the development of the project and take part in its management and technical
    steering.</p>

  <h1>Branding guidelines</h1>
  <p>
    TODO: Instructions and restrictions on how to use the UAVCAN logo, the UAVCAN icon, and 
    the UAVCAN Conformance Mark.</p>

{% endblock %}
