{% extends "base.html" %}
{% set active = 'home' %}

{% block content %}
<div class="notepad">
  <header class="masthead">
    <a class="site-logo" href="/" aria-label="OpenCyphal home">
      <img src="/static/images/logo.svg" alt="OpenCyphal">
    </a>
    <h1>Simple real-time pub/sub for cyber-physical systems</h1>
  </header>

  <div class="content-grid">
    <div class="main-column">
      {% include "home/content-column.html" %}
    </div>
    <aside class="feed-column">
      {% include "home/cards-column.html" %}
    </aside>
  </div>
</div>
{% endblock %}
