<html>
{% include "base/head.html" %}
<body>
    <header>
        <img src="/static/images/logo.svg" alt="UAVCAN Logo">
        <h1>Intravehicular communication</h1>
        <ul class="nav">
            <li>
                <i class="fas fa-graduation-cap"></i>
                <a href="/guide"
                   title="Learn how to use UAVCAN."
                   target="_blank">Guide</a>
            </li>
            <li>
                <i class="far fa-file-pdf"></i>
                <a href="/specification"
                   title="Latest revision of the specification document in PDF."
                   target="_blank">Specification</a>
            </li>
            <li>
                <i class="far fa-comments"></i>
                <a href="https://forum.uavcan.org"
                   title="Discussion forum; ask questions and submit proposals there."
                   target="_blank">Forum</a>
            </li>
            <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/UAVCAN"
                   title="GitHub organization where development happens."
                   target="_blank">GitHub</a>
            </li>
            <li>
                <i class="fas fa-history"></i>
                <a href="http://legacy.uavcan.org/"
                   title="Experimental pre-release version of the specification called UAVCAN v0, now obsolete."
                   target="_blank">Legacy v0</a>
            </li>
        </ul>
    </header>

    <h1>What is UAVCAN?</h1>
    <p>
        UAVCAN is an open lightweight protocol designed for reliable intravehicular communication in
        aerospace and robotic applications over CAN bus, Ethernet, and other robust transports.
        It is created to address the challenge of deterministic on-board data exchange between
        systems and components of next-generation intelligent vehicles:
        manned and unmanned aircraft, spacecraft, robots, and cars.
    </p>
    <p>
        The name stands for <i>Uncomplicated Application-level Vehicular Computing And Networking</i>.
    </p>
    <p>
        UAVCAN is a standard open to everyone, and it will always remain this way.
        No licensing or approval of any kind is necessary for its implementation, distribution, or use.
        Voluntary monetary donations are welcomed via <a href="https://opencollective.com/uavcan">Open Collective</a>.
    </p>
    <h2>Features</h2>
    <ul>
        <li>
            Democratic network &ndash; no bus master, no single point of failure.
        </li>
        <li>
            Publish/subscribe and request/response (RPC) exchange semantics.
        </li>
        <li>
            Efficient exchange of large data structures with automatic decomposition and reassembly.
        </li>
        <li>
            Lightweight, deterministic, easy to implement, and easy to validate.
        </li>
        <li>
            Suitable for deeply embedded, resource constrained, hard real-time systems.
        </li>
        <li>
            Specialized interface description language provides rich zero-cost data type and interface abstractions.
        </li>
        <li>
            Usable with different transport protocols.
        </li>
        <li>
            Supports dual and triply modular redundant transports.
        </li>
        <li>
            Supports high-precision network-wide time synchronization.
        </li>
        <li>
            High-quality open source reference implementations are freely available under the MIT license.
        </li>
    </ul>

    <h1>How do I use UAVCAN?</h1>
    <p>
        First, read the <a href="https://uavcan.org/guide" target="_blank">Guide</a>.
        To learn the technical details, read the <a href="/specification" target="_blank">Specification</a>.
        Familiarize yourself with the
        <a href="https://github.com/UAVCAN/public_regulated_data_types">regulated DSDL repository</a>.
        If you have questions or feedback, bring them to the <a href="https://forum.uavcan.org">forum</a>.
    </p>
    <p>
        Pick one of the free open source implementations (MIT licensed) for use in your application:
    </p>
    <div class="scroll-x">
        <table class="reference">
            <thead>
            <tr>
                <td>Library</td>
                <td>Transports</td>
                <td>Language</td>
                <td>Applications</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://github.com/UAVCAN/libcanard">Libcanard</a></td>
                <td>UAVCAN/CAN</td>
                <td>C11</td>
                <td>Embedded</td>
                <td>Released</td>
            </tr>
            <tr>
                <td><a href="https://github.com/UAVCAN/pyuavcan">Pyuavcan</a></td>
                <td>Any</td>
                <td>Python</td>
                <td>HMI, scripting</td>
                <td>Released</td>
            </tr>
            <tr>
                <td><a href="https://github.com/UAVCAN/libuavcan">Libuavcan</a></td>
                <td>Any</td>
                <td>C++11</td>
                <td>Embedded</td>
                <td>Work-in-progress</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        None of the implementations suit your needs? Write your own!
        UAVCAN is a very simple protocol; an experienced developer can easily create a custom implementation
        from scratch to address the unique needs of their application.
    </p>
    <p>
        The open source tools will help you design, develop, and maintain your UAVCAN-based application:
    </p>
    <ul>
        <li>
            <a href="https://github.com/UAVCAN/yukon">Yukon</a> <em>(work-in-progress)</em> &mdash;
            a web-based GUI tool for observing, debugging, and interacting with a UAVCAN bus.
            This product is currently under active development; ETA 2021Q4.
        </li>
        <li>
            <a href="https://github.com/UAVCAN/nunavut">Nunavut</a> &mdash;
            a Python library and a CLI tool for generating code from DSDL definitions.
        </li>
        <li>
            <a href="https://github.com/UAVCAN/pydsdl">PyDSDL</a> &mdash;
            a DSDL compiler front end implemented in Python.
        </li>
    </ul>
    <p>
        Please <a
            href="https://forum.uavcan.org/t/referencing-the-uavcan-project-in-publications/766"
            target="_blank"
        >reference UAVCAN</a> in scientific or technical publications.
    </p>

{% if adopters %}
    <h1>Featured adopters</h1>
    <div class="adopters-container">
    {% for a in adopters %}
        <div class="adopters-entry">
            <a href="{{ a.website_url }}" target="_blank">
                <img src="/adopters/logo/{{ a.logo_file_name }}"
                     alt="{{ a.name }}"
                     title="{{ a.name }}">
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% set fallback_image = '/static/images/logo-square.svg' %}
{% if forum_feed_entries %}
    <h1>Discussions and publications</h1>
    <table class="feed">
    {% for e in forum_feed_entries %}
        <tr>
            <td>
                <a href="{{ e.url }}">
                    <img class="thumbnail"
                         alt="{{ e.title }}" src="{{ e.image_url or fallback_image }}"
                         onerror="this.src='/static/images/logo-square.svg'">
                </a>
            </td>
            <td>
                <div>
                    {% if e.pinned %}<strong>{% endif %}
                    <a href="{{ e.url }}">{{ e.title | safe }}</a>
                    {% if e.pinned %}</strong>{% endif %}
                </div>
                <div class="meta" title="{{ e.timestamp }}{% if e.pinned %} (pinned){% endif %}">
                    <span>{{ e.timestamp.strftime('%b %d') }}</span>
                    <span>{{ e.num_posts }} posts</span>
                    {% if e.pinned -%}<span><i class="fas fa-thumbtack"></i></span>{%- endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% if development_feed_entries %}
    <h1>Development activity</h1>
    <table class="feed">
    {% for e in development_feed_entries %}
        <tr>
            <td>
                <a href="{{ e.target_url or '#' }}">
                    <img class="thumbnail"
                         alt="{{ e.title }}" src="{{ e.image_url or '/static/images/logo-square.svg' }}"
                         onerror="this.src='{{ fallback_image }}'">
                </a>
            </td>
            <td>
                <div>
        {% if e.is_important %}<strong>{% endif %}
                    {{ e.text | safe }}
        {% if e.is_important %}</strong>{% endif %}
                </div>
                <div class="meta" title="{{ e.timestamp }}">
                    <span>{{ e.timestamp.strftime('%b %d') }}</span>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

    {% include "base/footer.html" %}
</body>
</html>
