<html>
{% include "base/head.html" %}
<body>
    <header>
        <img src="/static/images/logo.svg" alt="UAVCAN Logo">
        <h1>Intravehicular communication</h1>
        <ul class="nav">
            <li>
                <i class="far fa-file-pdf"></i>
                <a href="/specification"
                   title="Latest revision of the specification document in PDF."
                   target="_blank">Specification</a>
            </li>
            <li>
                <i class="far fa-comments"></i>
                <a href="https://forum.uavcan.org"
                   title="Discussion forum; ask questions and submit proposals there."
                   target="_blank">Forum</a>
            </li>
            <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/UAVCAN"
                   title="GitHub organization where development happens."
                   target="_blank">GitHub</a>
            </li>
            <li>
                <i class="fas fa-history"></i>
                <a href="http://uavcan.github.io/"
                   title="Experimental pre-release version of the specification called UAVCAN v0, now obsolete."
                   target="_blank">Legacy v0</a>
            </li>
        </ul>
    </header>

    <h1>What is UAVCAN?</h1>
    <p>
        UAVCAN is an open lightweight protocol designed for reliable intravehicular communication in
        aerospace and robotic applications over CAN bus, Ethernet, and other robust transports.
        It is created to address the challenge of deterministic on-board data exchange between
        systems and components of next-generation intelligent vehicles:
        manned and unmanned aircraft, spacecraft, robots, and cars.
    </p>
    <p>
        The name UAVCAN stands for <i>Uncomplicated Application-level Vehicular Communication And Networking</i>.
    </p>
    <p>
        UAVCAN is a standard open to everyone, and it will always remain this way.
        No licensing or approval of any kind is necessary for its implementation, distribution, or use.
    </p>
    <p>
        A high-level overview of the protocol is provided in the article <a
            href="https://forum.uavcan.org/t/uavcan-a-highly-dependable-publish-subscribe-protocol-for-real-time-intravehicular-networking/557"
            target="_blank"
        >"UAVCAN: a highly dependable publish-subscribe protocol for real-time intravehicular networking"</a>.
    </p>
    <h2>Features</h2>
    <ul>
        <li>
            Democratic network &ndash; no bus master, no single point of failure.
        </li>
        <li>
            Publish/subscribe and request/response (RPC) exchange semantics.
        </li>
        <li>
            Efficient exchange of large data structures with automatic decomposition and reassembly.
        </li>
        <li>
            Lightweight, deterministic, easy to implement, and easy to validate.
        </li>
        <li>
            Suitable for deeply embedded, resource constrained, hard real-time systems.
        </li>
        <li>
            Usable with different transport protocols.
        </li>
        <li>
            Supports dual and triply modular redundant transports.
        </li>
        <li>
            Supports high-precision network-wide time synchronization.
        </li>
        <li>
            High-quality open source reference implementations are freely available under the MIT license.
        </li>
    </ul>

    <h1>How do I use UAVCAN?</h1>
    <p>
        First, read the official
        <a href="/specification" target="_blank">UAVCAN specification</a> document
        and familiarize yourself with the
        <a href="https://github.com/UAVCAN/dsdl">regulated DSDL repository</a>.
        If you have questions or feedback, bring them to the
        <a href="https://forum.uavcan.org">discussion forum</a>.
    </p>
    <p>
        Pick one of the free open source implementations (MIT licensed) for use in your application:
    </p>
    <ul>
        <li>
            <a href="https://github.com/UAVCAN/libuavcan">Libuavcan</a> &mdash;
            full-featured, highly robust implementation in C++11 for embedded systems and GNU/Linux.
        </li>
        <li>
            <a href="https://github.com/UAVCAN/libcanard">Libcanard</a> &mdash;
            lightweight implementation in C99 for deeply embedded systems.
        </li>
        <li>
            <a href="https://github.com/UAVCAN/pyuavcan">Pyuavcan</a> &mdash;
            general-purpose, easy to use Python implementation for high-level operating systems
            (Windows, GNU/Linux, macOS, etc.).
        </li>
    </ul>
    <p>
        None of the implementations suit your needs? Write your own!
        UAVCAN is a very simple protocol; an experienced developer can easily create a custom implementation
        from scratch to address the unique needs of their application.
    </p>
    <p>
        The open source tools will help you design, develop, and maintain your UAVCAN-based application:
    </p>
    <ul>
        <li>
            <a href="https://github.com/UAVCAN/Yukon">Yukon</a> &mdash;
            a web-based GUI tool for observing, debugging, and interacting with a UAVCAN bus.
        </li>
        <li>
            <a href="https://github.com/UAVCAN/pydsdl">PyDSDL</a> &mdash;
            a DSDL compiler front end implemented in Python.
        </li>
    </ul>
    <p>
        The <a href="http://uavcan.github.io/">old version of the website</a> is still available
        for historical reasons, but it will be taken down eventually.
        It contains an older, pre-release edition of the specification and documentation entries that are now obsolete.
    </p>

{% set fallback_image = '/static/images/logo-square.svg' %}
{% if forum_feed_entries %}
    <h1>Discussions and publications</h1>
    <table class="feed">
    {% for e in forum_feed_entries %}
        <tr>
            <td>
                <a href="{{ e.url }}">
                    <img class="thumbnail"
                         alt="{{ e.title }}" src="{{ e.image_url or fallback_image }}"
                         onerror="this.src='/static/images/logo-square.svg'">
                </a>
            </td>
            <td>
                <div>
                    {% if e.pinned %}<strong>{% endif %}
                    <a href="{{ e.url }}">{{ e.title | safe }}</a>
                    {% if e.pinned %}</strong>{% endif %}
                </div>
                <div class="meta" title="{{ e.timestamp }}{% if e.pinned %} (pinned){% endif %}">
                    <span>{{ e.timestamp.strftime('%b %d') }}</span>
                    <span>{{ e.num_posts }} posts</span>
                    {% if e.pinned -%}<span><i class="fas fa-thumbtack"></i></span>{%- endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
    <p>
        <a href="https://forum.uavcan.org/signup">Join the forum to start a new discussion</a>.
        Also, feel free to participate in the
        <a href="https://forum.uavcan.org/t/weekly-dev-call/173">weekly dev call</a>.
    </p>
{% endif %}

{% if development_feed_entries %}
    <h1>Development activity</h1>
    <table class="feed">
    {% for e in development_feed_entries %}
        <tr>
            <td>
                <a href="{{ e.target_url or '#' }}">
                    <img class="thumbnail"
                         alt="{{ e.title }}" src="{{ e.image_url or '/static/images/logo-square.svg' }}"
                         onerror="this.src='{{ fallback_image }}'">
                </a>
            </td>
            <td>
                <div>
        {% if e.is_important %}<strong>{% endif %}
                    {{ e.text | safe }}
        {% if e.is_important %}</strong>{% endif %}
                </div>
                <div class="meta" title="{{ e.timestamp }}">
                    <span>{{ e.timestamp.strftime('%b %d') }}</span>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

    {% include "base/footer.html" %}
</body>
</html>
