<nav class="navbar navbar-expand-lg navbar-uavcan px-1">

  <!-- Logo and menu button in collapsed state -->
  <span class="navbar-brand d-block d-lg-none">
    <img src="/static/images/logo.svg" alt="UAVCAN Logo">
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-show">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu list -->
  <div class="collapse navbar-collapse" id="navbar-show">
    <div class="d-flex flex-fill">
      <div class="flex-fill">
        <ul class="navbar-nav flex-column">
          {% if active == 'home' %}
          <li class="nav-item active">
            <a class="nav-link mr-auto" href="/">Home</a>
            <ul class="sub-menu" style="list-style-type: none; padding-inline-start: 5%">
              <li class="nav-item">
                <a class="nav-link" href="/home#what"><small>What is UAVCAN?</small></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home#how"><small>How do I use UAVCAN?</small></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home#why"><small>Why do I need UAVCAN?</small></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home#who"><small>Who is behind UAVCAN?</small></a>
              </li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="/">Home</a>
            <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
          </li>
          {% endif %}
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="/guide">Guide</a>
            <a class="nav-link" href="/guide"><i class="fas fa-graduation-cap"></i></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="/specification">Specification</a>
            <a class="nav-link" href="/specification"><i class="far fa-file-pdf"></i></a>
          </li>
          {% if active == 'consortium' %}
          <li class="nav-item active">
            <a class="nav-link mr-auto" href="/consortium">Consortium</a>
            <!-- TODO: add Consortium icon: <i class="fas fa-users"></i> -->
            <ul class="sub-menu" style="list-style-type: none; padding-inline-start: 5%">
              <li class="nav-item">
                <a class="nav-link" href="/consortium#mission"><small>Mission</small></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/consortium#membership"><small>Membership</small></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/consortium#member-profiles"><small>Member profiles</small></a>
              </li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="/consortium">Consortium</a>
            <a class="nav-link" href="/consortium"><i class="fas fa-users"></i></a>
          </li>
          {% endif %}

          <!-- Remove menu item pending completion
          <li class="nav-item d-flex align-items-center{% if active == 'conformant' %} active{% endif %}">
            <a class="nav-link mr-auto" href="/conformant-products">Conformant products</a>
            <a class="nav-link" href="/conformant-products"><i class="fas fa-certificate"></i></a>
          </li>
          -->

          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="https://forum.uavcan.org">Forum</a>
            <a class="nav-link" href="https://forum.uavcan.org"><i class="far fa-comments"></i></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="https://github.com/UAVCAN">GitHub</a>
            <a class="nav-link" href="https://github.com/UAVCAN"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link mr-auto" href="https://legacy.uavcan.org/">Legacy v0</a>
            <a class="nav-link" href="https://legacy.uavcan.org/"><i class="fas fa-history"></i></a>
          </li>
        </ul>
      </div>
      <div class="d-block d-lg-none flex-fill w-75"></div>     <!-- Buffer block in collapse menu -->
    </div>
  </div>
</nav>
